* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EAEAEA;
  display: block;
  margin: 0 auto;
  font-family: 'Arial', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  color: #333;
}

.outer,
.inner,
.foot {
  clear: both;
  display: block;
  overflow: hidden;
  margin: 0 auto; 
  width: 600px;
}

.inner {
  width: 560px;
}

.foot {
  margin: 10px auto;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 1px;
}

a:link, 
a:visited {
  background: none;
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #fb6a25;
}

a:hover, 
a:active {
  border-bottom: 1px solid;
}


h1,h2, h3, h4, h5, h6 {
  font-family: 'Arial', 'Helvetica', 'Arial', sans-serif;
  font-weight: bolder;
  color: #fb6a25;
}

h1 {
  font-size: 32px;
  line-height: 1.4em;
  letter-spacing: -1px;
}

h2 {
  font-size: 24px;
  line-height: 1.4em;
  letter-spacing: -1px;
}

h3 {
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: -1px;
}

h4 {
  font-size: 18px;
  line-height: 1.4em;
}

h5 {
  font-size: 14px;
  line-height: 1.4em;
}

h6 {
  font-size: 12px;
  line-height: 1.4em;
}

header {
  margin: 20px;
}

#top {
  background: url('/images/global/header.jpg') no-repeat;
  height: 135px;
}

section {
  background-color: white;
  margin: 20px;
}

article {
  background-color: white;
  padding: 10px 0;
}

article img {
  display: block;
  float: left;
  margin: 10px 0 20px 0;
}

footer {
  background-color: white;
  height: 30px;
}
